catboost==1.1.1
darts==0.23.1
lightgbm
numpy
openpyxl==3.0.7
optuna==3.1.0
pandas
plotly
prophet==1.1.1
scikit-learn
scipy
seaborn
shap
statsforecast
statsmodels
sympy==1.8
tqdm
u8darts==0.23.1
ujson==4.0.2
wheel
xgboost==1.6.1
